#container {
        background: url("images/Mountain.jpg");
        background-size: cover;  
        background-position: center;  
        height: 100vh;  
        width: 100%; 
        color: greenyellow;
        
    }
    
    
    

body{background-color: aqua;
    
}